@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c111b;
}

/* Footer */

footer {
    /* background: rgb(86, 92, 81); */
    height: 12vh;
    padding: 20px 40px 0 20px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.left-foot-1 {
    width: 45vw;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.left-foot {
    display: flex;
    flex-direction: column;
}

.left-foot ul {
    display: flex;
}

.left-foot ul li {
    list-style: none;
    padding: 0px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.left-foot ul li a {
    text-decoration: none;
    color: rgb(206, 205, 205);
}

.left-foot ul li a:hover {
    color: rgb(24, 105, 255);
}

.center-foot {
    display: flex;
    flex-direction: column;
}

.center-foot-1 {
    color: rgb(200, 199, 199);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.icons-center {
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.facebook {
    background: rgb(22, 24, 49);
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border-radius: 7px;
}

.facebook:hover {
    background: rgb(11, 96, 255);
}

.twitter {
    background: rgb(22, 24, 49);
    height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 7px;
}

.twitter:hover {
    background: rgb(11, 96, 255);
}
.fab{
    display: flex;
}

.fa-facebook-f {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 24px;
}

.fa-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 24px;
}

header {
    display: flex;
    height: 80px;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #0c111b;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

nav ul li {
    padding: 0 30px;
    list-style: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.6px;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 140px;
    padding: 0 10px 10px 25px;
}

.search {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.searchbar {
    width: 15vw;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

.searchbar:active {
    width: 18vw;
}

.searchbar input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 5px;
    border-bottom: 1px solid rgb(173, 173, 173);
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.searchbar input:active {
    width: 18vw;
    border-bottom: 1px solid rgb(17, 160, 255);
}

.fa-search {
    color: rgb(173, 173, 173);
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 30px;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.fa-user-circle {
    color: rgb(195, 195, 195);
    font-size: 25px;
    cursor: pointer;
}

.fa-user-circle:hover {
    color: #fff;
}

/* Body part */

.overall {
    min-height: calc(100vh - 14vh - 80px);
}

/* Slider */

.slider {
    background-image: url('banner-aveng.webp');
    background-size: cover;
    background-position: center center;
    width: 100%;
    object-fit: contain;
    height: 450px;
    color: #fff;
}

.container {
    margin-left: 30px;
    padding-top: 150px;
    height: 100px;
}

.container-title {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.container-description {
    width: 35vw;
    padding-top: 10px;
    line-height: 1.2;
    font-size: 20px;
    height: 40px;
}

.container-button {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    width: 10vh;
    border: 1px solid rgba(255, 255, 255, 0.664);
    cursor: pointer;
    background: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.container-button:hover {
    background: rgba(255, 255, 255, 0.89);
    color: rgb(0, 0, 0);
    transition: 0.6s;
    
}

.row {
    padding: 25px 20px;
}

.continue {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1.5rem 0;
}

.continue::-webkit-scrollbar {
    display: none;
}

.continue-row {
    object-fit: contain;
    max-height: 100%;
    height: 180px;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 450ms;
}

.continue-row:hover {
    transform: scale(1.20);
    transition: .4s;
}

.row-large {
    max-height: 100%;
    height: 300px;
}

.row-large:hover {
    transform: scale(1.10);
}

h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 0 0 5px 0;
}